@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
.navbar{
    background-color: #242B64;
    color:#d8d8d8;
    border-bottom: 0.5px solid gray;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top:0;
    left:0;
    font-family:'Urbanist';   
}

.navbar a{
    text-decoration: none;
    color:#d8d8d8;
}

.navbar a.nav-logo{
    
    float: left;
    height: inherit;
    line-height: inherit;
    padding:0 30px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Urbanist';
    color: #d8d8d8;
    font-weight:bold;
}

.navbar ul{
    float:right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}
.navbar ul li{
    display: inline-block;
}

.navbar ul li a{

    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;

}
.navbar ul li a:hover{

background-color: gray;

}
body{
    background: url("bg.png"), -webkit-linear-gradient(bottom, 	#151269, #aad6ec);
}
.content{
    font-family: 'Urbanist';
    color:#d8d8d8;
    margin-top: 30px;
  
}
p{
    margin-top: 10px;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btns{
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    float: left;
    border:0;
    border-radius: 20px;
    margin-left: 10px;
}
.btns{
    margin-top: 20px;
    background: #d8d8d8;
    cursor: pointer;
    color: #191919;
    padding: 12px 20px;
    float: center;
    border:0;
    border-radius: 20px;
    margin-right: 10px;
}

.btns:hover{
    background: #848482;

}
img{
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: right;
    position: relative;
    left:80px;
    margin-top: 90px; 
}


.center {


    position: absolute;
  
  
    left: 50%;
  
  
    top: 50%;
  
  
    transform: translate(-50%, -50%);
  
  
  
}
h1 {
    color: #0C1559;
    margin: 35px 70px 50px;
    font-size: 70px;
    vertical-align: top;
    position: absolute;
    top: 150px;
  }

h2 {
    text-align: left;
    color:#aad6ec;
    margin-right: 90px;
    margin-left: 90px;
    font-size: 30px;
    position: absolute;
    top: 290px;
  }
  h3 {
    margin-right: 90px;
    margin-left: 90px;
    font-size: 20px;
    position: absolute;
    top: 380px;
    font-family: 'Glory';
  }
  h4{
    margin-right: 90px;
    margin-left: 90px;
    align-items: center;
  }
  .media-icons{
      margin-top: 50px;
      margin-left: 200px;
      position: absolute;
      top: 600px;
  }
